*{
    scroll-behavior: smooth !important;
    }

.img-fluid{
    border-radius: 10px;
    box-shadow: 0 0 20px 0 darkgray;
    margin-top: 20px;
}
.box{
    border-radius: 50px;
    background-color: #754C9B;
    box-shadow: 0 0 20px 0 darkgray;
}
.btn1{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}
.btn2{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}
.gamb2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
}
.icons a{
    text-decoration: none;
}
.bg-body-tertiary{
    background-color: #BBAFED;
}
.nbg{
    background-color: #BBAFED;
}
#header {
    height: 100px;
}
.box2{
    background-color: #BBAFED;
    border-radius: 50px;
    box-shadow: 0 0 20px 0 darkgray;
}
.box3{
    background-color: whitesmoke;
    border-radius: 50px;
    box-shadow: 0 0 10px 0 darkgray;
}
.box4{
    background-color: whitesmoke;
    border-radius: 50px;
    box-shadow: 0 0 10px 0 darkgray;
}

#nomelogo {
    margin-left: 20px;
    margin-bottom: 0;
    border: 0;
    color: white;
}
.navbar .navbar-nav .nav-item{
    position: relative;
}

.navbar .navbar-nav .nav-item::after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background-color: white;
    width: 0%;
    height: 4px;
    transition: all .5s;
    margin: 0 auto;
}
.navbar .navbar-nav .nav-item:hover::after{
    width: 100%;
}

.info1{
    margin-top: 100px;
}

#btnLandLog{
    transition: all .4s;
}

#btnLandlog:hover{
    opacity: .8;
}

#btnLandlog:active{
    transform: scale(.8);
}
