body{
  width: 100vw;
  height: 100vh;
}

.papis{
  background-color: #f4f4f4;
  box-shadow: 0 0 10px darkgray;
}

ul{
  max-height: 700px;
 
}

li{
  list-style: none;
}

.not{
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px darkgray;

}

.txtnot{

  top: 10px;
}

.Line-13 {

  left: 40px;
  width: 3px;
  height: 25px;
  flex-direction: column;
  margin: 1.5px 7px 0 0;
  background-color: #660fc8;
}

.simounao{
  left: 785px;
  top: 35px;
}

.btnSolic{
    background: #660fc8;
    color: white;
    border-radius: 30px;
    border: none;
    outline: none;
    padding: 5px;
}

#p {
  display: flex;
  justify-content: space-between;
}
